:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #5DADE2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.leaflet-container {
  height: 90vh;
  width: 90%;
  border-radius: 2rem;
}

.leaflet-draw {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.leaflet-draw-toolbar-topright {
  top: 10px;
  right: 10px;
}

.leaflet-draw-toolbar li {
  list-style: none;
  margin-bottom: 5px;
}
